body{
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    min-height: 100%;
}
.barraneve{
    display: flex;
    justify-content: space-between;
    background-color: rgb(29, 37, 51);
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}
.logo{
    font-style: italic;
}
.title{
    font-style: italic;
    font-size: 16px;
    padding: 10px;
    
}
.left-conteuto{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 8px;

}
a{
    text-decoration: none;
    color: white;   
}
a:hover{
    color: blue;
}
.imagemheader{
    width: 600PX;
    height: 400px;
}
.headerconteudo{
    display: flex;
    padding: 20px;
    gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
h1{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.main{
    display: flex;
}
.imgconteudo{
    width: 700px;
    height:300px ;
    border-radius: 4px;
}
.video{
    justify-content: center;
    text-align: center;
}